@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body
{
    font-family: Outfit;
    background-color:  hsl(212, 45%, 89%);
}

.container
{
    width: 380px;
    background-color: white;
    border-radius: 15px;
    margin: 5% auto;
    text-align: center;
}

.qrCode img
{
    width: 350px;
    height: auto;
    margin: 15px auto;
    border-radius: 15px;
}


.description h1
{
    margin: 2px 0 0 25px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    width:83%;
    text-align: center; 
}

.description p
{
    padding: 25px 0 30px 40px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    width: 85%;
    font-weight: 400;

}

.attribution
{
    text-align: center;
    font-size: 14px;
    
}

.attribution a
{
    color: hsl(228, 45%, 44%);
}